<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>


[{% for item in labels %}
      "{{item}}",
      {% endfor %}]
<script>
var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

var chartData = 
new Chart("myChart", {
  type: "scatter",
  data: {
      labels : [{% for item in labels %}
      "{{item}}",
      {% endfor %}]
    datasets: [{

      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: [{% for item in values %}
      {{item}},
      {% endfor %}]
    }]
  },
  options: {
    }
  }
});
</script>

// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

var myChart = new Chart(ctx, {
    type: 'line',
    data: chartData,
    });

</body>
</html>